*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-1{
    display: grid;
    grid-template-columns: 1fr repeat(3,400px) 1fr;
    grid-template-areas: ". box1 box2 box3 ."
                          ". box4 box5 box6 .";
    height: 100vh;                      
    width:100vw;
    gap: 1rem;
    
    margin-bottom: 4rem;
    margin-top: 2rem;

}

.container-1 .box1{
    background-color: #ff3c00;
    grid-area: box1;
}
.container-1 .box2{
    background-color: #ff3c00;
    grid-area: box2;
}
.container-1 .box3{
    background-color: #ff3c00;
    grid-area: box3;
}
.container-1 .box4{
    background-color: #0080ff;
    grid-area: box4;
}
.container-1 .box5{
    background-color: #0080ff;
    grid-area: box5;
}
.container-1 .box6{
    background-color: #0080ff;
    grid-area: box6;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr repeat(3,400px) 1fr;
    grid-template-areas: ". box1 box1 box2 ."
                          ". box3 box4 box2 .";
    height: 100vh;                      
    width:100vw;
    gap: 1rem;
  
    margin-bottom: 4rem;

}
.container-2 .box1{
    background-color: #ff3c00;
    grid-area: box1;
}
.container-2 .box2{
    background-color: #ff1100;
    grid-area: box2;
}
.container-2 .box3{
    background-color: #00ffcc;
    grid-area: box3;
}
.container-2 .box4{
    background-color: #00ffcc;
    grid-area: box4;
}


.container-3{
    display: grid;
    grid-template-columns: 1fr repeat(3,400px) 1fr;
    grid-template-areas: ". box1 box1 box1 ."
                          ". box2 box3 box3 ."
                          ". box4 box4 box4 .";
    height: 100vh;                      
    width:100vw;
    gap: 1rem;

    margin-bottom: 4rem;
    

}

.container-3 .box1{
background-color: #ff3c00;
    grid-area: box1;
}
.container-3 .box2{
     background-color: #00ffcc;
    grid-area: box2;
}
.container-3 .box3{
    
       background-color: #ff1100;
    grid-area: box3;
}
.container-3 .box4{
   background-color: #00ffcc;
    grid-area: box4;
}

.container-4{
    display: grid;
    grid-template-columns: 1fr repeat(4,300px) 1fr;
    grid-template-areas: ". box1 box1 box2 box2 ."
                          ". box3 box4 box4 box4 ."
                          ". box5 box5 box5 box5 .";
    height: 100vh;                      
    width:100vw;
    gap: 1rem;
   
    margin-bottom: 4rem;
   
    

}

.container-4 .box1{
    background-color: #ff1100;
    grid-area: box1;
}
.container-4 .box2{
         background-color: #ff3c00;
    grid-area: box2;
}
.container-4 .box3{
    
    background-color: #00ffcc;
    grid-area: box3;
}
.container-4 .box4{
      background-color: #00ffcc;
    grid-area: box4;
}
.container-4 .box5{
     background-color: #ff1100;
     grid-area: box5;
}

.container-5{
        display: grid;
    grid-template-columns: 1fr repeat(6,200px) 1fr;
    grid-template-areas: ". box1 box2 box3 box4 box5 box6 ."
                          ". box7 box8 box9 box10 box11 box12 ."
                          ". box13  box14 box15 box16 box17 box18 .";
    height: 100vh;                      
    width:100vw;
    gap: 1rem;
  
    margin-bottom: 4rem;
}

.container-5 .box1{
background-color: #ff1100;
grid-area: box1;
}
.container-5 .box2{
background-color: #ff1100;
grid-area: box2;
}
.container-5 .box3{
background-color: #ff1100;
grid-area: box3;
}
.container-5 .box4{
background-color: #ff1100;
grid-area: box4;
}
.container-5 .box5{
background-color: #ff1100;
grid-area: box5;
}
.container-5 .box6{
background-color: #ff1100;
grid-area: box6;
}

.container-5 .box7{
    background-color: #00ffcc;
    grid-area: box7;
}
.container-5 .box8{
    background-color: #00ffcc;
    grid-area: box8;
}
.container-5 .box9{
    background-color: #00ffcc;
    grid-area: box9;
}
.container-5 .box10{
    background-color: #00ffcc;
    grid-area: box10;
}
.container-5 .box11{
    background-color: #00ffcc;
    grid-area: box11;
}
.container-5 .box12{
    background-color: #00ffcc;
    grid-area: box12;
}

.container-5 .box13{
    background-color: #ff3c00;
    grid-area: box13;
}
.container-5 .box14{
    background-color: #ff3c00;
    grid-area: box14;
}
.container-5 .box15{
    background-color: #ff3c00;
    grid-area: box15;
}
.container-5 .box16{
    background-color: #ff3c00;
    grid-area: box16;
}
.container-5 .box17{
    background-color: #ff3c00;
    grid-area: box17;
}
.container-5 .box18{
    background-color: #ff3c00;
    grid-area: box18;
}

.container-6{
        display: grid;
    grid-template-columns: 1fr repeat(4,300px) 1fr;
    grid-template-areas: ". box1 box1 box2 box3 ."
                          ". box4 box5 box6 box7  ."
                          ". box8  box8 box9 box10 ."
                           ". box8 box8 box11 box12 ."
                           ". box13 box13 box13 box14 .";
    height: 100vh;                      
    width:100vw;
    gap: 1rem;
   
    margin-bottom: 4rem;
}
.container-6 .box1{
    background-color: #ff1100;
    grid-area: box1;
}
.container-6 .box2{
    background-color: #00ffcc;
    grid-area: box2;
}
.container-6 .box3{
    background-color: #ff3c00;
    grid-area: box3;
}
.container-6 .box4{
    background-color: #ff3c00;
    grid-area: box4;
}
.container-6 .box5{
    background-color: #ff3c00;
    grid-area: box5;
}
.container-6 .box6{
    background-color: #ff3c00;
    grid-area: box6;
}
.container-6 .box7{
    /* background-color: #FF815B; */
    grid-area: box7;
}
.container-6 .box8{
    background-color: #ff3c00;
    grid-area: box8;
}
.container-6 .box9{
    background-color: #ff3c00;
    grid-area: box9;
}
.container-6 .box10{
    /* background-color: #FF815B; */
    grid-area: box10;
}
.container-6 .box11{
    background-color: #ff3c00;
    grid-area: box11;
}
.container-6 .box12{
    background-color: #ff3c00;
    grid-area: box12;
}

.container-7{
    display: grid;
grid-template-columns: 1fr repeat(4,300px) 1fr;
grid-template-areas: ". box1 box1 box2 box2 ."
                      ". box3 box3 box4 box4  ."
                      ". box3  box3 box5 box6 ."
                      ;
height: 100vh;                      
width:100vw;
gap: 1rem;

margin-bottom: 4rem;
}

.container-7 .box1{
    background-color: #ff1100;
    grid-area: box1;
}
.container-7 .box2{
    background-color: #00ffcc;
    grid-area: box2;
}
.container-7 .box3{
    background-color: #ff3c00;
    grid-area: box3;
}
.container-7 .box4{
    background-color: #ff3c00;
    grid-area: box4;
}
.container-7 .box5{
    background-color: #ff3c00;
    grid-area: box5;
}
.container-7 .box6{
    background-color: #ff3c00;
    grid-area: box6;
}


.container-8{
    display: grid;
grid-template-columns: 1fr repeat(6,200px) 1fr;
grid-template-areas: ". box1 box2 box3 box4 box5 box6 ."
                      ". box7 box8 box9 box9 box9 box9  ."
                      ". box10  box10 box10 box10 box10 box10 ."
                      ;
height: 100vh;                      
width:100vw;
gap: 1rem;

margin-bottom: 4rem;
}

.container-8 .box1{
    background-color: #ff1100;
    grid-area: box1;
    }
    .container-8 .box2{
    background-color: #ff1100;
    grid-area: box2;
    }
    .container-8 .box3{
    background-color: #ff1100;
    grid-area: box3;
    }
    .container-8 .box4{
    background-color: #ff1100;
    grid-area: box4;
    }
    .container-8 .box5{
    background-color: #ff1100;
    grid-area: box5;
    }
    .container-8 .box6{
    background-color: #ff1100;
    grid-area: box6;
    }
    
    .container-8 .box7{
        background-color: #00ffcc;
        grid-area: box7;
    }
    .container-8 .box8{
        background-color: #00ffcc;
        grid-area: box8;
    }
    .container-8 .box9{
        background-color: #00ffcc;
        grid-area: box9;
    }
    .container-8 .box10{
        background-color: #03A888;
        grid-area: box10;
    }


    .container-8{
        display: grid;
    grid-template-columns: 1fr repeat(3,400px) 1fr;
    grid-template-areas: ". box1 box1 box1  ."
                          ". box2 box3 box3   ."
                          ". box2  box4 box5 ."
                          ;
    height: 100vh;                      
    width:100vw;
    gap: 1rem;
   
    margin-bottom: 4rem;
    }

    .container-9 .box1{
        background-color: #ff1100;
        grid-area: box1;
        }
        .container-9 .box2{
        background-color: #ff1100;
        grid-area: box2;
        }
        .container-9 .box3{
        background-color: #ff1100;
        grid-area: box3;
        }
        .container-9 .box4{
        background-color: #ff1100;
        grid-area: box4;
        }
        .container-9 .box5{
        background-color: #ff1100;
        grid-area: box5;
        }